@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");
:root {
  --blue: #9ab3f5;
  --black: #080808;
  --yellow: rgb(240, 240, 39);
  --white: #ffffff;
  --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}

.open {
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  z-index: 99;
}
.open .search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  width: 100%;
}
.open .search-bar .NavbarBrand {
  font-size: 23px;
  padding: 0;
  border-radius: 10px;
  position: relative;
  top: 5px;
  font-family: Helvetica;
  margin-left: 50px;
  color: gray;
  letter-spacing: -0.3rem;
}
.open .search-bar .NavbarBrand::after {
  content: attr(data-spotlight);
  color: rgb(53, 213, 9);
  position: absolute;
  top: -4px;
  left: 0;
  -webkit-clip-path: ellipse(100px 100px at 0% 50%);
  clip-path: ellipse(100px 100px at 0% 50%);
  animation: spotlight 5s infinite;
}
@keyframes spotlight {
  0% {
    -webkit-clip-path: ellipse(50px 50px at 50% 0%);
    clip-path: ellipse(28px 28px at 0% 50%);
  }
  50% {
    -webkit-clip-path: ellipse(100px 100px at 100% 100%);
    clip-path: ellipse(28px 28px at 100% 50%);
  }
  100% {
    -webkit-clip-path: ellipse(100px 100px at 0% 50%);
    clip-path: ellipse(28px 28px at 0% 50%);
  }
}
.open .search-bar .dropdown {
  position: relative;
  width: 25%;
  border-radius: 50px;
  border: 1px solid var(--white);
  background-color: var(--black);
  box-shadow: var(--shadow);
  cursor: pointer;
  margin-top: 18px;
}
.open .search-bar .dropdown .dropdown-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: 500;
  color: var(--white);
  padding: 1rem 1.5rem;
}
.open .search-bar .dropdown .dropdown-text #icon {
  margin-left: 8px;
}
.open .search-bar .dropdown .dropdown-list {
  position: absolute;
  top: 4.8rem;
  left: 0;
  width: 100%;
  border-radius: 15px;
  max-height: 300px;
  overflow-y: scroll;
  background-color: black;
  transition: max-height 0.5s;
  overflow-x: hidden;
}
.open .search-bar .dropdown .dropdown-list .dropdown-list-item {
  font-size: 20px;
  font-weight: 500;
  padding: 1rem 0 1rem 1.5rem;
  cursor: pointer;
  transition: margin-left 0.2s ease, color 0.2s ease;
}
.open .search-bar .dropdown .dropdown-list .dropdown-list-item .dropdown-item,
.open .search-bar .dropdown .dropdown-list .dropdown-list-item .popular,
.open .search-bar .dropdown .dropdown-list .dropdown-list-item .topRated {
  font-size: 1.8rem;
}
.open .search-bar .dropdown .dropdown-list .dropdown-list-item .dropdown-item:hover,
.open .search-bar .dropdown .dropdown-list .dropdown-list-item .popular:hover,
.open .search-bar .dropdown .dropdown-list .dropdown-list-item .topRated:hover {
  margin-left: 0.5rem;
  color: var(--yellow);
}
.open .search-bar .dropdown .dropdown-list::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}
.open .search-bar .searchGroup {
  display: flex;
  height: 40px;
  flex-direction: column;
  overflow: hidden;
  margin-top: 7px;
  width: 50%;
}
.open .search-bar .searchGroup .search-box {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  width: 100%;
  color: var(--black);
  height: 100px;
}
.open .search-bar .searchGroup .search-box input {
  width: 100%;
  font-size: 3rem;
  font-weight: 500;
  color: var(--black);
  border: 0;
  outline: 0;
}
.open .search-bar .searchGroup .search-box input::-moz-placeholder {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--black);
}
.open .search-bar .searchGroup .search-box input::placeholder {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--black);
}
.open .search-bar .searchGroup .search-box i {
  font-size: 1.3rem;
  cursor: pointer;
  background-color: rgb(233, 239, 61);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.open .search-bar .searchGroup .bg-white {
  height: 300px;
  display: block;
  overflow-y: scroll;
  width: 50%;
  position: absolute;
  top: 40px;
  background-color: rgb(252, 255, 255);
  padding: 20px 20px;
  right: 4%;
}
.open .search-bar .searchGroup .bg-white div .videoSet {
  display: flex;
  flex-direction: row;
  height: 90px;
  margin: 20px 0px;
}
.open .search-bar .searchGroup .bg-white div .videoSet .link {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 100%;
}
.open .search-bar .searchGroup .bg-white div .videoSet .link img {
  width: 100px;
  height: 100px;
}
.open .search-bar .searchGroup .bg-white div .videoSet .link div {
  width: 68%;
  margin-left: 15px;
}
.open .search-bar .searchGroup .bg-white div .videoSet .link div h1 {
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .open {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: var(--blue);
    width: 100%;
    z-index: 99;
  }
  .open .search-bar {
    display: flex;
    align-items: center;
    background-color: var(--white);
    width: 100%;
  }
  .open .search-bar .NavbarBrand {
    font-size: 16px;
    padding: 0;
    border-radius: 10px;
    position: relative;
    font-family: Helvetica;
    margin-left: 15px;
    color: gray;
    letter-spacing: -0.3rem;
  }
  .open .search-bar .NavbarBrand::after {
    content: attr(data-spotlight);
    color: rgb(53, 213, 9);
    position: absolute;
    top: 0px;
    left: 0;
    -webkit-clip-path: ellipse(100px 100px at 0% 50%);
    clip-path: ellipse(100px 100px at 0% 50%);
    animation: spotlight 5s infinite;
  }
  @keyframes spotlight {
    0% {
      -webkit-clip-path: ellipse(50px 50px at 50% 0%);
      clip-path: ellipse(28px 28px at 0% 50%);
    }
    50% {
      -webkit-clip-path: ellipse(100px 100px at 100% 100%);
      clip-path: ellipse(28px 28px at 100% 50%);
    }
    100% {
      -webkit-clip-path: ellipse(100px 100px at 0% 50%);
      clip-path: ellipse(28px 28px at 0% 50%);
    }
  }
  .open .search-bar .dropdown {
    position: relative;
    width: 35%;
    border-radius: 50px;
    border: 1px solid var(--white);
    background-color: var(--black);
    box-shadow: var(--shadow);
    cursor: pointer;
    margin-top: 10px;
  }
  .open .search-bar .dropdown .dropdown-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    padding: 1rem 1.5rem;
  }
  .open .search-bar .dropdown .dropdown-list {
    position: absolute;
    top: 3.8rem;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    background-color: black;
    transition: max-height 0.5s;
  }
  .open .search-bar .dropdown .dropdown-list .dropdown-list-item {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: margin-left 0.2s ease, color 0.2s ease;
  }
  .open .search-bar .dropdown .dropdown-list .dropdown-list-item .dropdown-item,
  .open .search-bar .dropdown .dropdown-list .dropdown-list-item .popular,
  .open .search-bar .dropdown .dropdown-list .dropdown-list-item .topRated {
    font-size: 1.4rem;
  }
  .open .search-bar .dropdown .dropdown-list .dropdown-list-item .dropdown-item:hover,
  .open .search-bar .dropdown .dropdown-list .dropdown-list-item .popular:hover,
  .open .search-bar .dropdown .dropdown-list .dropdown-list-item .topRated:hover {
    padding-left: 0.5rem;
    color: var(--yellow);
  }
  .open .search-bar .searchGroup {
    display: flex;
    height: 40px;
    flex-direction: column;
    overflow: hidden;
    width: 43%;
  }
  .open .search-bar .searchGroup .search-box {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: var(--black);
    height: 100px;
  }
  .open .search-bar .searchGroup .search-box input {
    padding: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--black);
    border: 0;
    outline: 0;
  }
  .open .search-bar .searchGroup .search-box input::-moz-placeholder {
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
  }
  .open .search-bar .searchGroup .search-box input::placeholder {
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
  }
  .open .search-bar .searchGroup .search-box i {
    font-size: 1.3rem;
    cursor: pointer;
  }
  .open .search-bar .searchGroup .bg-white {
    height: 280px;
    display: block;
    overflow-y: scroll;
    width: 90%;
    position: absolute;
    top: 40px;
    background-color: rgb(249, 249, 249);
    padding: 5px 15px;
    left: 3.5%;
  }
  .open .search-bar .searchGroup .bg-white div .videoSet {
    display: flex;
    flex-direction: row;
    height: 60px;
  }
  .open .search-bar .searchGroup .bg-white div .videoSet .link {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
    width: 100%;
  }
  .open .search-bar .searchGroup .bg-white div .videoSet .link img {
    width: 70px;
    height: 70px;
  }
  .open .search-bar .searchGroup .bg-white div .videoSet .link div {
    width: 70%;
    color: #0d0d0d;
    margin-left: 15px;
  }
  .open .search-bar .searchGroup .bg-white div .videoSet .link div h1 {
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  .open {
    position: fixed;
    top: 0px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: var(--blue);
    width: 100%;
    z-index: 99;
  }
  .open .search-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 0px;
    background-color: var(--white);
    width: 100%;
    height: 100%;
  }
  .open .search-bar .theme {
    width: 100%;
    text-align: center;
  }
  .open .search-bar .theme .NavbarBrand {
    font-size: 20px;
    padding: 0;
    border-radius: 10px;
    position: relative;
    font-family: Helvetica;
    margin-left: 15px;
    color: gray;
    letter-spacing: -0.3rem;
  }
  .open .search-bar .theme .NavbarBrand::after {
    content: attr(data-spotlight);
    color: rgb(53, 213, 9);
    position: absolute;
    top: -4px;
    left: 0;
    -webkit-clip-path: ellipse(100px 100px at 0% 50%);
    clip-path: ellipse(100px 100px at 0% 50%);
    animation: spotlight 5s infinite;
  }
  @keyframes spotlight {
    0% {
      -webkit-clip-path: ellipse(50px 50px at 50% 0%);
      clip-path: ellipse(28px 28px at 0% 50%);
    }
    50% {
      -webkit-clip-path: ellipse(100px 100px at 100% 100%);
      clip-path: ellipse(28px 28px at 100% 50%);
    }
    100% {
      -webkit-clip-path: ellipse(100px 100px at 0% 50%);
      clip-path: ellipse(28px 28px at 0% 50%);
    }
  }
  .open .search-bar .dropdown {
    display: block;
    position: relative;
    width: 48%;
    border-radius: 50px;
    border: 1px solid var(--white);
    background-color: var(--black);
    box-shadow: var(--shadow);
    cursor: pointer;
    margin-top: 0px;
  }
  .open .search-bar .dropdown .dropdown-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 500;
    color: var(--white);
    padding: 1rem 1.5rem;
    width: auto;
  }
  .open .search-bar .dropdown .dropdown-list {
    position: absolute;
    top: 3.8rem;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    background-color: black;
    transition: max-height 0.5s;
  }
  .open .search-bar .dropdown .dropdown-list .dropdown-list-item {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: margin-left 0.2s ease, color 0.2s ease;
  }
  .open .search-bar .dropdown .dropdown-list .dropdown-list-item:hover {
    margin-left: 0.5rem;
    color: var(--yellow);
  }
  .open .search-bar .searchGroup {
    display: flex;
    height: 40px;
    flex-direction: column;
    overflow: hidden;
    width: 51%;
    text-align: left;
    margin-top: 0px;
  }
  .open .search-bar .searchGroup .search-box {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: var(--black);
    height: 100px;
  }
  .open .search-bar .searchGroup .search-box input {
    padding: 0rem;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--black);
    border: 0;
    outline: 0;
  }
  .open .search-bar .searchGroup .search-box input::-moz-placeholder {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--black);
    width: 100%;
    position: relative;
    right: 0px;
  }
  .open .search-bar .searchGroup .search-box input::placeholder {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--black);
    width: 100%;
    position: relative;
    right: 0px;
  }
  .open .search-bar .searchGroup .search-box i {
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
    left: 7px;
  }
  .open .search-bar .searchGroup .bg-white {
    height: 250px;
    display: block;
    overflow: scroll;
    width: 100%;
    position: absolute;
    top: 80px;
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    left: 0px;
  }
  .open .search-bar .searchGroup .bg-white div {
    width: 100%;
  }
  .open .search-bar .searchGroup .bg-white div .videoSet {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 80px;
    margin: 0px 0px;
  }
  .open .search-bar .searchGroup .bg-white div .videoSet .link {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
  }
  .open .search-bar .searchGroup .bg-white div .videoSet .link img {
    width: 70px;
    height: 70px;
  }
  .open .search-bar .searchGroup .bg-white div .videoSet .link div {
    width: 70%;
    color: #000000;
    margin-left: 12px;
  }
  .open .search-bar .searchGroup .bg-white div .videoSet .link div h1 {
    font-size: 10px;
  }
}/*# sourceMappingURL=test.css.map */