.App {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(37, 37, 37);
  padding-top: 40px;

}


@import url("./Components/Des/Dess.css");

body {
  margin: 0;
  padding: 0;

}

@media screen and (max-width: 450px) {
  .App {
    margin-top: 60px;
    padding-top: 15px;
  }
}